In [1]:
%load_ext autoreload
%autoreload 2
import sys
import os
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"/src")
import helpers as hlp

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# AWS EC2

Instructions for setup: https://github.com/GalvanizeDataScience/lectures/blob/SF/aws/aws_lecture.ipynb

Keep python script running: https://stackoverflow.com/questions/47823240/keep-running-a-python-script-on-aws-ec2-even-if-cli-session-is-closed

## tripadvisor_web_scraping_ec2

## tripadvisor_web_scraping_ec2_2nd

```
Copying Files to EC2
To copy a file myfile.txt to EC2, use a command like this.
scp myfile.txt my_first_ec2:
To copy a file from the EC2 to the current directory on the local machine, try
scp my_first_ec2:path/to/remote_file .
To copy a directory mydir to EC2, use a command like this.
scp -r mydir my_first ec2:
```

### Run web scraper
```
ssh tripadvisor_web_scraping_ec2

tmux new -s mywindow

```
``` python

python3 src/web_scraping_aws_test.py

#OR

python3 src/web_scraping_aws.py

```
```

tmux a -t mywindow

tmux kill-window -t mywindow

```

### Copy csv files from ec2
zip -r aws.zip aws

scp tripadvisor_web_scraping_ec2:data/web_scraped/aws.zip .

# Test Web Scraping Pipeline

## Test getting all reviews for first 3 hotels - Honolulu

In [3]:
aws_test_data_dir = '../data/web_scraped/aws_first3/'

In [4]:
# Get all folders - 1 per tripadvisor hotel result page
folders = os.listdir(aws_test_data_dir)
folders

['pg1', 'pg4', 'pg3', 'pg2']

In [5]:
# From each folder, read all CSV files - 1 per hotel
dfs = []
for folder in folders:
#     print(folder)
    data_dir = aws_test_data_dir + '/' + folder + '/'
    csv_filenames = os.listdir(data_dir)    
    for name in csv_filenames:
        dfs.append(pd.read_csv(data_dir + name))
df_all_hotels = pd.concat(dfs, ignore_index=True)
df_all_hotels.shape

(24142, 8)

In [6]:
df_all_hotels.head()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
0,752651761,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"April 15, 2020",I enjoyed my stay overall.The room itself was ...,"Seattle, Washington",35,4.0
1,677858723,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"May 31, 2019",We used our points for an ocean front room in ...,"Anchorage, Alaska",114,5.0
2,752585766,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"April 13, 2020",Our family stayed here as a last second switch...,"Pella, Iowa",3,5.0
3,752581445,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"April 13, 2020","We've stayed here 3 times in the past 4 years,...",NaN,0,5.0
4,752537773,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"April 12, 2020",Great atmosphere in the village. You can prett...,"High Ongar, United Kingdom",1,5.0

In [7]:
df_all_hotels.tail()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
24137,995122,https://www.tripadvisor.com/Hotel_Review-g6098...,Hilton Waikiki Beach,"May 12, 2003",Stayed here twice b/c it's very clean! - one y...,"San Francisco, CA",10,5.0
24138,850658,https://www.tripadvisor.com/Hotel_Review-g6098...,Hilton Waikiki Beach,"January 30, 2003",We stayed at this hotel for the millenium week...,"London, England",4,4.0
24139,809743,https://www.tripadvisor.com/Hotel_Review-g6098...,Hilton Waikiki Beach,"November 22, 2002",We have stayed here five times in the last two...,"Atlanta, GA",3,5.0
24140,677983,https://www.tripadvisor.com/Hotel_Review-g6098...,Hilton Waikiki Beach,"August 21, 2002",I would highly recommend this hotel if you don...,NaN,0,5.0
24141,661010,https://www.tripadvisor.com/Hotel_Review-g6098...,Hilton Waikiki Beach,"August 17, 2002","I have stayed at this hotel twice, once in 199...",NaN,0,4.0

In [8]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24142 entries, 0 to 24141
Data columns (total 8 columns):
review_id        24142 non-null int64
url              24142 non-null object
hotel_name       24142 non-null object
review_date      24142 non-null object
review_body      24142 non-null object
user_location    21683 non-null object
helpful_vote     24142 non-null int64
rating           24142 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ MB

In [9]:
df_all_hotels.describe()

          review_id  helpful_vote        rating
count  2.414200e+04  24142.000000  24142.000000
mean   3.190713e+08     33.850799      4.040138
std    2.014299e+08    217.547614      1.102699
min    4.726350e+05      0.000000      1.000000
25%    1.545321e+08      4.000000      3.000000
50%    2.786538e+08     12.000000      4.000000
75%    4.730438e+08     33.000000      5.000000
max    7.526518e+08  20809.000000      5.000000

In [10]:
df_all_hotels['review_body'][0]

'I enjoyed my stay overall.The room itself was very nice. On a high floor; spacious 1-bedroom unit with a great balcony view of the water.The resort is huge, so I did get lost trying to find my room, but the staff are very helpful and happy to point in the right direction.Food from the restaurants is good, albeit overpriced (not a surprise, though, really).Check-in was fine, though I was a little nonplussed to have the lady tell me my points redemption for the room I got was "super high". Oh swell, lol!I picked up a turkey wrap from the on-site store, and when I opened it in my room soon after (like not even 10 minutes), found it to be mushy and soft. Not at all appetizing or even edible, frankly. That was a disappointment.But, the grounds are amazing! Defo take the time to explore if you can!Express checkout was super handy, as I was out to my next adventure by 6am. I also really appreciated the onsite Starbucks that opened at 5:30.'

In [11]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24142 entries, 0 to 24141
Data columns (total 8 columns):
review_id        24142 non-null int64
url              24142 non-null object
hotel_name       24142 non-null object
review_date      24142 non-null object
review_body      24142 non-null object
user_location    21683 non-null object
helpful_vote     24142 non-null int64
rating           24142 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ MB

In [12]:
df_all_hotels.describe()

          review_id  helpful_vote        rating
count  2.414200e+04  24142.000000  24142.000000
mean   3.190713e+08     33.850799      4.040138
std    2.014299e+08    217.547614      1.102699
min    4.726350e+05      0.000000      1.000000
25%    1.545321e+08      4.000000      3.000000
50%    2.786538e+08     12.000000      4.000000
75%    4.730438e+08     33.000000      5.000000
max    7.526518e+08  20809.000000      5.000000

In [13]:
df_all_hotels['review_body'][0]

'I enjoyed my stay overall.The room itself was very nice. On a high floor; spacious 1-bedroom unit with a great balcony view of the water.The resort is huge, so I did get lost trying to find my room, but the staff are very helpful and happy to point in the right direction.Food from the restaurants is good, albeit overpriced (not a surprise, though, really).Check-in was fine, though I was a little nonplussed to have the lady tell me my points redemption for the room I got was "super high". Oh swell, lol!I picked up a turkey wrap from the on-site store, and when I opened it in my room soon after (like not even 10 minutes), found it to be mushy and soft. Not at all appetizing or even edible, frankly. That was a disappointment.But, the grounds are amazing! Defo take the time to explore if you can!Express checkout was super handy, as I was out to my next adventure by 6am. I also really appreciated the onsite Starbucks that opened at 5:30.'

In [14]:
len(df_all_hotels['review_body'].unique())

24139

In [15]:
len(df_all_hotels['hotel_name'].unique())

3

## Test getting ~3 reviews per hotel, 30 hotels per city - Tokyo, New York

In [16]:
aws_test_data_dir = '../data/web_scraped/aws_test_more_cities/'

In [17]:
# Get all folders - 1 per tripadvisor hotel result page
folders = os.listdir(aws_test_data_dir)
folders

['newyork_pg1', 'tokyo_pg1']

In [18]:
# From each folder, read all CSV files - 1 per hotel
dfs = []
for folder in folders:
#     print(folder)
    data_dir = aws_test_data_dir + '/' + folder + '/'
    csv_filenames = os.listdir(data_dir)
    print(csv_filenames)
    for name in csv_filenames:
        dfs.append(pd.read_csv(data_dir + name))
df_all_hotels = pd.concat(dfs, ignore_index=True)
df_all_hotels.shape

['The_Ritz_Carlton_New_York_Central_Park-New_York_City_New_York__en.csv', 'Le_Meridien_New_York_Central_Park-New_York_City_New_York__en.csv', 'Hudson_River_Hotel-New_York_City_New_York__en.csv', 'Pod_51_Hotel-New_York_City_New_York__en.csv', 'Excelsior_Hotel-New_York_City_New_York__en.csv', 'Morningside_Inn-New_York_City_New_York__en.csv', 'Four_Points_by_Sheraton_New_York_Downtown-New_York_City_New_York__en.csv', 'Eurostars_Wall_Street-New_York_City_New_York__en.csv', 'W_New_York_Union_Square-New_York_City_New_York__en.csv', 'Crosby_Street_Hotel-New_York_City_New_York__en.csv', 'Heritage_Hotel_New_York_City-New_York_City_New_York__en.csv', 'Selina_Chelsea-New_York_City_New_York__en.csv', 'New_York_Marriott_East_Side-New_York_City_New_York__en.csv', 'W_New_York_Downtown-New_York_City_New_York__en.csv', 'Midtown_West_Hotel-New_York_City_New_York__en.csv', 'Four_Seasons_Hotel_New_York-New_York_City_New_York__en.csv', 'The_High_Line_Hotel-New_York_City_New_York__en.csv', 'Moxy_NYC_Downtown-New_York_City_New_York__en.csv', '6_Columbus_Central_Park_Hotel-New_York_City_New_York__en.csv', 'Hudson_New_York-New_York_City_New_York__en.csv', 'Hilton_New_York_Fashion_District-New_York_City_New_York__en.csv', 'LUXE_Life_Hotel-New_York_City_New_York__en.csv', 'Off_Soho_Suites-New_York_City_New_York__en.csv', 'The_Whitby_Hotel-New_York_City_New_York__en.csv', 'Sheraton_Tribeca_New_York_Hotel-New_York_City_New_York__en.csv', 'Hampton_Inn_Manhattan_Times_Square_South-New_York_City_New_York__en.csv', 'The_Peninsula_New_York-New_York_City_New_York__en.csv', 'Mandarin_Oriental_New_York-New_York_City_New_York__en.csv', 'Hyatt_Union_Square_New_York-New_York_City_New_York__en.csv', 'New_York_Hilton_Midtown-New_York_City_New_York__en.csv']
['Aman_Tokyo-Otemachi_Chiyoda_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Mandarin_Oriental_Tokyo-Chuo_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'The_Prince_Park_Tower_Tokyo-Shibakoen_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Reyado_Hotel_Kudan-Chiyoda_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Shibuya_Granbell_hotel-Shibuya_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Hotel_Allamanda_Aoyama-Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Prostyle_Ryokan_Tokyo_Asakusa-Taito_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Hotel_Keihan_Tokyo_Yotsuya-Yotsuya_Shinjuku_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Shinjuku_Granbell_Hotel-Kabukicho_Shinjuku_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'ANA_InterContinental_Tokyo-Akasaka_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Tokyo_Prince_Hotel-Shibakoen_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Ascott_Marunouchi_Tokyo-Otemachi_Chiyoda_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Conrad_Tokyo-Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Hotel_New_Otani_Garden_Tower-Chiyoda_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'The_Ritz_Carlton_Tokyo-Akasaka_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'The_Tokyo_Station_Hotel-Marunouchi_Chiyoda_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Tokyo_Marriott_Hotel-Shinagawa_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Four_Seasons_Hotel_Tokyo_at_Marunouchi-Marunouchi_Chiyoda_Tokyo_Tokyo_Prefecture_Kant__en.csv', 'The_Royal_Park_Hotel_Iconic_Tokyo_Shiodome-Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Shibuya_Stream_Excel_Hotel_Tokyu-Shibuya_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Hotel_K5-Chuo_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'BnA_HOTEL_Koenji-Suginami_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Mitsui_Garden_Hotel_Nihonbashi_Premier-Chuo_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Andaz_Tokyo_Toranomon_Hills-Toranomon_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'First_Cabin_Haneda_Terminal_1-Ota_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Grand_Prince_Hotel_New_Takanawa-Takanawa_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'The_Peninsula_Tokyo-Yurakucho_Chiyoda_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Shibuya_Tokyu_REI_Hotel-Shibuya_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'The_Lively_Azabujuban_Tokyo-Azabujuban_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv', 'Grand_Hyatt_Tokyo-Roppongi_Minato_Tokyo_Tokyo_Prefecture_Kanto__en.csv']

(176, 8)

In [19]:
df_all_hotels.head()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
0,752631261,https://www.tripadvisor.com/Hotel_Review-g6076...,"The Ritz-Carlton New York, Central Park","April 14, 2020","The room is big enough, the location is on the...","St. Catharines, Canada",30,4.0
1,747136638,https://www.tripadvisor.com/Hotel_Review-g6076...,"The Ritz-Carlton New York, Central Park","February 23, 2020",The bar and restaurant surrounding the courtya...,"Mexico City, Mexico",20,5.0
2,746754082,https://www.tripadvisor.com/Hotel_Review-g6076...,"The Ritz-Carlton New York, Central Park","February 22, 2020","The hotel was nice, the room was clean and spa...",NaN,0,3.0
3,751342159,https://www.tripadvisor.com/Hotel_Review-g6076...,"Le Meridien New York, Central Park","March 18, 2020",We stayed a total of 4 nights after a terrible...,NaN,0,5.0
4,750721023,https://www.tripadvisor.com/Hotel_Review-g6076...,"Le Meridien New York, Central Park","March 13, 2020","While the rooms are nice, cozy and in line wit...",NaN,0,5.0

In [20]:
df_all_hotels.tail()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
171,751973851,https://www.tripadvisor.com/Hotel_Review-g1412...,The Lively Azabujuban Tokyo,"March 28, 2020",Fancy a nice Western bar that is a great alter...,NaN,48,5.0
172,751468115,https://www.tripadvisor.com/Hotel_Review-g1412...,The Lively Azabujuban Tokyo,"March 20, 2020",Well located and friendly hotel. Well position...,"Khabarovsk, Russia",0,5.0
173,751326811,https://www.tripadvisor.com/Hotel_Review-g1412...,Grand Hyatt Tokyo,"March 18, 2020",This is a great hotel for business or leisure....,"Singapore, Singapore",7,5.0
174,749939076,https://www.tripadvisor.com/Hotel_Review-g1412...,Grand Hyatt Tokyo,"March 8, 2020",Staff in this hotel went out of their way to b...,"Whangaparaoa, New Zealand",9,5.0
175,747469546,https://www.tripadvisor.com/Hotel_Review-g1412...,Grand Hyatt Tokyo,"February 24, 2020","The Grand Hyatt is located in Mori Building, d...","San Francisco, California, United States",2,5.0

In [21]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 8 columns):
review_id        176 non-null int64
url              176 non-null object
hotel_name       176 non-null object
review_date      176 non-null object
review_body      176 non-null object
user_location    130 non-null object
helpful_vote     176 non-null int64
rating           176 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 11.1+ KB

In [22]:
df_all_hotels.describe()

          review_id  helpful_vote      rating
count  1.760000e+02    176.000000  176.000000
mean   7.429586e+08    120.573864    3.937500
std    1.929785e+07   1276.530174    1.331621
min    5.808149e+08      0.000000    1.000000
25%    7.433545e+08      0.000000    3.000000
50%    7.488069e+08      6.000000    4.000000
75%    7.512533e+08     26.500000    5.000000
max    7.533618e+08  16943.000000    5.000000

In [23]:
df_all_hotels['review_body'][0]

'The room is big enough, the location is on the edge of Central Park, very good scenery from the room. It’s also really pleasant for morning jogging. Very professional and friendly front desk. There are many restaurants around the hotel and there is a huge food supermarket. The hotel facilities are a bit old, but still doable. '

In [24]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 8 columns):
review_id        176 non-null int64
url              176 non-null object
hotel_name       176 non-null object
review_date      176 non-null object
review_body      176 non-null object
user_location    130 non-null object
helpful_vote     176 non-null int64
rating           176 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 11.1+ KB

In [25]:
df_all_hotels.describe()

          review_id  helpful_vote      rating
count  1.760000e+02    176.000000  176.000000
mean   7.429586e+08    120.573864    3.937500
std    1.929785e+07   1276.530174    1.331621
min    5.808149e+08      0.000000    1.000000
25%    7.433545e+08      0.000000    3.000000
50%    7.488069e+08      6.000000    4.000000
75%    7.512533e+08     26.500000    5.000000
max    7.533618e+08  16943.000000    5.000000

In [26]:
df_all_hotels['review_body'][0]

'The room is big enough, the location is on the edge of Central Park, very good scenery from the room. It’s also really pleasant for morning jogging. Very professional and friendly front desk. There are many restaurants around the hotel and there is a huge food supermarket. The hotel facilities are a bit old, but still doable. '

In [27]:
len(df_all_hotels['review_body'].unique())

176

In [28]:
len(df_all_hotels['hotel_name'].unique())

60

## Test getting ~3 reviews per hotel, all hotels - Honolulu

In [29]:
aws_test_data_dir = '../data/web_scraped/aws_test/'

In [30]:
# Get all folders - 1 per tripadvisor hotel result page
folders = os.listdir(aws_test_data_dir)
folders

['pg1', 'pg4', 'pg3', 'pg2']

In [31]:
# From each folder, read all CSV files - 1 per hotel
dfs = []
for folder in folders:
#     print(folder)
    data_dir = aws_test_data_dir + '/' + folder + '/'
    csv_filenames = os.listdir(data_dir)    
    for name in csv_filenames:
        dfs.append(pd.read_csv(data_dir + name))
df_all_hotels = pd.concat(dfs, ignore_index=True)
df_all_hotels.shape

(266, 8)

In [32]:
df_all_hotels.head()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
0,750305270,https://www.tripadvisor.com/Hotel_Review-g6098...,OHANA Waikiki Malia by Outrigger,"March 10, 2020",If you are visiting Honolulu on a budget this ...,"Medicine Hat, Canada",0,3.0
1,750121846,https://www.tripadvisor.com/Hotel_Review-g6098...,OHANA Waikiki Malia by Outrigger,"March 9, 2020",2 nights here. Bed was comfortable shower pres...,NaN,0,4.0
2,746226779,https://www.tripadvisor.com/Hotel_Review-g6098...,OHANA Waikiki Malia by Outrigger,"February 19, 2020",The property is in a decent location with cour...,"Las Vegas, Nevada",1,1.0
3,752651761,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"April 15, 2020",I enjoyed my stay overall.The room itself was ...,"Seattle, Washington",35,4.0
4,752585766,https://www.tripadvisor.ca/Hotel_Review-g60982...,Hilton Hawaiian Village Waikiki Beach Resort,"April 13, 2020",Our family stayed here as a last second switch...,"Pella, Iowa",3,5.0

In [33]:
df_all_hotels.tail()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
261,748360164,https://www.tripadvisor.com/Hotel_Review-g6098...,Aqua Aloha Surf Waikiki,"February 29, 2020","Check in staff (and check-out) were very, very...","Island of Hawaii, Hawaii",34,2.0
262,737718477,https://www.tripadvisor.com/Hotel_Review-g6098...,Aqua Aloha Surf Waikiki,"January 7, 2020",Located within walking distance from the beach...,NaN,3,3.0
263,752329491,https://www.tripadvisor.com/Hotel_Review-g6098...,Airport Honolulu Hotel,"April 6, 2020","The hotel is nice and clean, even during the C...",NaN,0,5.0
264,751890692,https://www.tripadvisor.com/Hotel_Review-g6098...,Airport Honolulu Hotel,"March 27, 2020",The hotel was great. Clean room and is dated a...,"Mudgee, Australia",0,5.0
265,750263150,https://www.tripadvisor.com/Hotel_Review-g6098...,Airport Honolulu Hotel,"March 10, 2020",We just needed an overnight place to sleep. Th...,"Laguna Beach, California",4,2.0

In [34]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 8 columns):
review_id        266 non-null int64
url              266 non-null object
hotel_name       266 non-null object
review_date      266 non-null object
review_body      266 non-null object
user_location    175 non-null object
helpful_vote     266 non-null int64
rating           266 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 16.8+ KB

In [35]:
df_all_hotels.describe()

          review_id  helpful_vote      rating
count  2.660000e+02    266.000000  266.000000
mean   7.474683e+08     18.706767    4.109023
std    1.283151e+07     47.475162    1.246638
min    6.453464e+08      0.000000    1.000000
25%    7.489957e+08      0.000000    4.000000
50%    7.513375e+08      1.000000    5.000000
75%    7.519708e+08     11.750000    5.000000
max    7.534573e+08    325.000000    5.000000

In [36]:
df_all_hotels['url'][0]

'https://www.tripadvisor.com/Hotel_Review-g60982-d214685-Reviews-OHANA_Waikiki_Malia_by_Outrigger-Honolulu_Oahu_Hawaii-or0.html?filterLang=en'

In [37]:
df_all_hotels['review_body'][0]

'If you are visiting Honolulu on a budget this hotel is good... although not on Waikiki beach it is within a 10 minute walk. But this is a “budget” hotel. No bells and whistles... pool is not really much of anything... decor is dated (think 1980s Holiday Inn). The staff is friendly but the cleaning staff unfortunately tended to be smokers so after my room was cleaned I would come in to that smell and would have to open the patio doors to air it out so I just started putting the do not disturb on the door so they wouldn’t clean.'

In [38]:
len(df_all_hotels['review_body'].unique())

266

In [39]:
len(df_all_hotels['hotel_name'].unique())

90

# FINAL DATA

In [40]:
aws_test_data_dir = '../data/web_scraped/aws_final/'

In [41]:
# Get all folders - 1 per tripadvisor hotel result page
folders = os.listdir(aws_test_data_dir)
folders

['Tokyo-Kanto-pg1',
 'Honolulu-Hawaii.pg1',
 'Honolulu-Hawaii.pg4',
 'Honolulu-Hawaii.pg3',
 'Honolulu-Hawaii.pg2',
 'New_York_City-New_York-pg1']

In [42]:
# From each folder, read all CSV files - 1 per hotel
dfs = []
for folder in folders:
#     print(folder)
    data_dir = aws_test_data_dir + '/' + folder + '/'
    csv_filenames = os.listdir(data_dir)    
    for name in csv_filenames:
        dfs.append(pd.read_csv(data_dir + name))
df_all_hotels = pd.concat(dfs, ignore_index=True)
df_all_hotels.shape

(212155, 8)

In [43]:
df_all_hotels.head()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
0,749389994,https://www.tripadvisor.com/Hotel_Review-g1412...,Aman Tokyo,"March 5, 2020",Consistent service with my past Aman hotel exp...,"Sunnyvale, California",4,5.0
1,749264661,https://www.tripadvisor.com/Hotel_Review-g1412...,Aman Tokyo,"March 5, 2020",Stayed for 3 days and everything at Aman is pe...,"Vancouver, Canada",6,5.0
2,746956250,https://www.tripadvisor.com/Hotel_Review-g1412...,Aman Tokyo,"February 23, 2020",Although I live in Tokyo but I decided to take...,"Tokyo, Japan",53,4.0
3,745398599,https://www.tripadvisor.com/Hotel_Review-g1412...,Aman Tokyo,"February 16, 2020",An outstanding stay in a beautiful Aman in dow...,"Singapore, Singapore",5,5.0
4,743365715,https://www.tripadvisor.com/Hotel_Review-g1412...,Aman Tokyo,"February 6, 2020",Stayed here for 2 nights (second time after 3 ...,"Singapore, Singapore",38,5.0

In [44]:
df_all_hotels.tail()

,review_id,url,hotel_name,review_date,review_body,user_location,helpful_vote,rating
212150,984487,https://www.tripadvisor.com/Hotel_Review-g6076...,New York Hilton Midtown,"April 27, 2003",We go to NYC at least 2-3 times a year. We've ...,"Boston, MA",10,5.0
212151,914278,https://www.tripadvisor.com/Hotel_Review-g6076...,New York Hilton Midtown,"March 12, 2003",I was skeptical about staying at the Hilton. W...,"Washington, DC",14,4.0
212152,859170,https://www.tripadvisor.com/Hotel_Review-g6076...,New York Hilton Midtown,"February 18, 2003",Starting off with the strong points are the lo...,"Rocky Hill, Connecticut",71,4.0
212153,850920,https://www.tripadvisor.com/Hotel_Review-g6076...,New York Hilton Midtown,"January 31, 2003",Just stayed at the Hilton New York (Ave of the...,"Darlington, Maryland",314,4.0
212154,460999,https://www.tripadvisor.com/Hotel_Review-g6076...,New York Hilton Midtown,"March 17, 2002",We enjoyed our weekend stay at the Hilton. The...,NaN,0,5.0

In [45]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212155 entries, 0 to 212154
Data columns (total 8 columns):
review_id        212155 non-null int64
url              212155 non-null object
hotel_name       212155 non-null object
review_date      212155 non-null object
review_body      212155 non-null object
user_location    184157 non-null object
helpful_vote     212155 non-null int64
rating           212155 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 12.9+ MB

In [46]:
hlp.get_nulls(df_all_hotels)

               Total  Percent     Type
user_location  27998  0.13197   object
rating             0  0.00000  float64
helpful_vote       0  0.00000    int64
review_body        0  0.00000   object
review_date        0  0.00000   object
hotel_name         0  0.00000   object
url                0  0.00000   object
review_id          0  0.00000    int64

In [47]:
df_all_hotels.describe()

          review_id   helpful_vote         rating
count  2.121550e+05  212155.000000  212155.000000
mean   3.485569e+08      30.036360       4.104650
std    2.108024e+08     192.647358       1.094571
min    2.824200e+05       0.000000       1.000000
25%    1.655966e+08       2.000000       4.000000
50%    3.260000e+08       9.000000       4.000000
75%    5.286325e+08      29.000000       5.000000
max    7.534573e+08   34443.000000       5.000000

In [48]:
df_all_hotels['review_body'][0]

'Consistent service with my past Aman hotel experiences. Loved the amazing city views from our room and the convenient location. The hotel is beautifully designed inside and out. Can’t wait to come back again to try the sushi restaurant and go for another dip in the pool.'

In [49]:
df_all_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212155 entries, 0 to 212154
Data columns (total 8 columns):
review_id        212155 non-null int64
url              212155 non-null object
hotel_name       212155 non-null object
review_date      212155 non-null object
review_body      212155 non-null object
user_location    184157 non-null object
helpful_vote     212155 non-null int64
rating           212155 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 12.9+ MB

In [50]:
df_all_hotels.describe()

          review_id   helpful_vote         rating
count  2.121550e+05  212155.000000  212155.000000
mean   3.485569e+08      30.036360       4.104650
std    2.108024e+08     192.647358       1.094571
min    2.824200e+05       0.000000       1.000000
25%    1.655966e+08       2.000000       4.000000
50%    3.260000e+08       9.000000       4.000000
75%    5.286325e+08      29.000000       5.000000
max    7.534573e+08   34443.000000       5.000000

In [51]:
df_all_hotels['review_body'][0]

'Consistent service with my past Aman hotel experiences. Loved the amazing city views from our room and the convenient location. The hotel is beautifully designed inside and out. Can’t wait to come back again to try the sushi restaurant and go for another dip in the pool.'

In [52]:
len(df_all_hotels['review_body'].unique())

212124

In [53]:
len(df_all_hotels['hotel_name'].unique())

149

# Appendix

# AWS S3 Bucket

In [54]:
import boto3

s3 = boto3.client('s3')

In [55]:
for b in s3.list_buckets()['Buckets']:
    print(b['Name'])

chels-first-bucket-2020
chels-second-bucket-2020
pair-bucket-2020-chels-helnaz
pair-bucket-2020-chels-helnaz-2nd
spark-rdds-ind
tripadvisor-hotel-reviews

In [56]:
response = s3.list_objects_v2(Bucket='tripadvisor-hotel-reviews')
for obj in response['Contents']:
    print(obj['Key'])

test.txt

In [57]:
# Download file

# s3.download_file(Bucket=bucket_name,
#                  Key=remote_file_name,
#                  Filename="downloaded-" + local_file_name)